$borderColor: #f3f3f3;

.border-none {
  border: none !important;
}

.border-top-none {
  border-top: none !important;
}

.border-right-none {
  border-right: none !important;
}

.border-left-none {
  border-left: none !important;
}

.border-bottom-none {
  border-bottom: none !important;
}

.border-horizontal-none {
  border-right: none !important;
  border-left: none !important;
}

.border-vertical-none {
  border-top: none !important;
  border-bottom: none !important;
}

.border-bottom{
  border-bottom: 1px solid $borderColor;
}

.border-top{
  border-top: 1px solid $borderColor;
}

.border-right{
  border-right: 1px solid $borderColor;
}

.border-left{
  border-left: 1px solid $borderColor;
}

.border-horizontal{
  border-right: 1px solid $borderColor;
  border-left: 1px solid $borderColor;
}

.border-vertical{
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
}

.border-all{
  border: 1px solid $borderColor;
}
