$f1: 36px;
$f2: 30px;
$f3: 24px;
$f4: 21px;
$f5: 18px;
$f6: 16px;
$f7: 12px;

.f1 { font-size: $f1; }
.f2 { font-size: $f2; }
.f3 { font-size: $f3; }
.f4 { font-size: $f4; }
.f5 { font-size: $f5; }
.f6 { font-size: $f6; }
.f7 { font-size: $f7; }

.font-bold { font-weight: bold; }

.font-wight--100 { font-weight: 100; }
.font-wight--200 { font-weight: 200; }
.font-wight--300 { font-weight: 300; }
.font-wight--400 { font-weight: 400; }
.font-wight--500 { font-weight: 500; }
.font-wight--600 { font-weight: 600; }
.font-wight--700 { font-weight: 700; }
