<div class="jumbotron mt-20">
  <div class="container">
  <h1 className="title">404</h1>
    <p>
      お探しのページが見つかりません。<br />
      あなたがアクセスしたページは、削除されたか<br />
      URLが変更されているため表示することができません。
    </p>
    <%= link_to 'Topへ戻る', root_path %>
  </div>
</div>

<%= react_component('NewlyEvents') %>