<div class="jumbotron mt-20">
  <div class="container">
  <h1 className="title">500</h1>
    <p>
      現在サーバが混み合っております。<br />
      お手数ですが時間をおいて再度アクセスしてください。
    </p>
    </p>
  </div>
</div>

<%= react_component('NewlyEvents', { hasInfiniteScroll: false }) %>