@charset "utf-8";

@import '~bootstrap/dist/css/bootstrap';

@import "modules/mixin";
@import "modules/spaces";
@import "modules/font-size";
@import "modules/colors";
@import "modules/borders";
@import "modules/display";

body{
  background-color: #f9f9f9;
  font-family: 'Kosugi Maru', sans-serif;
  letter-spacing: 1.2px;
}

.cursor{
  cursor: pointer;
}

.icon--margin{
  margin-right: 0.3rem;
}

.text--color-red{
  color: red;
}

.text--light{
  color: grey;
  font-size: 14px;
}

.event--description{
  h1{
    font-size: 18px;
  }
}

.link-copy-button--wrapper{
  display: inline;
  padding: 4.8px 9px 9px 9px;
  background-color: #343a40;
  border-radius: 50%;
  color: white;
  svg{
    font-size: 16px;
  }
}

.footer{
  padding: 15px 16px 15px;

  p{
    font-size: 14px;
  }
}

.bland-title{
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: bold;
}