.card--media {
  max-width: 400px;
  margin: 0 auto;
}

.event-card-title {
  letter-spacing: 0.25px;
  font-size: 1.125rem;
  font-weight: 700;
}

.accent-datetime{
  font-size: 0.78rem;
  font-weight: 600;
}
